.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/ef/03/58/ef03583fef1393d89ff42e48ba71cc45.jpg");
}

@font-face {
    font-family: Water Brush;
    src: url('/imagenes/WaterBrush-Regular.ttf');
}

.containall{
display: flex;
flex-direction: row;
}

.left{
    display: flex;
    width: 50vw;
    text-align: center;
    justify-content: center;
}

.right{
    width: 50vw;
}


.titulo{
    font-size: 100px;
    font-family: Water Brush;
    text-shadow: 0px 2px 2px grey;
    color: lightpink;
    background-color: rgba(255, 255, 255, 0.884);
    width: 100%;
    text-align: center;
}

.subt{
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.800);
    height: fit-content;
    width: 100%;
}


.img{
    z-index: 999;
}

@media screen and (max-width:480px){
    .titulo{
        display: none;
    }
    .containall{
        display: flex;
        flex-direction: column;
    }
    .subt{
        font-size: 18px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.683);
        height: 150px;
        width: 100%;
        border-radius: 20px;
    }
}