.container {
    height: 50px;
    background-color: #fdabc6;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 100px;
    font-size: 25px;
    font-family:Water Brush;
    justify-content: space-between;
}

.listItems{
    display: inline;
    margin-right: 30px;
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

@font-face {
    font-family:Water Brush;
    src: url('/imagenes/WaterBrush-Regular.ttf');
}


@media screen and (max-width:480px){
    .listItems{
       display: none;
    }
    .container{
        text-align: center;
        font-size: 25px;
        width: 100vw;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
}