.container{
    padding: 0 100px;
}

.title{
    font-size: 30px;
    border-bottom: 4px solid #fdabc6;
    width: max-content;
    color: rgb(103, 103, 103);
}

.spantitle{
    color: #ff6196;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.service{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
    background: linear-gradient(pink, white, lightblue);
    position: relative;
}

.media{
    width: 85%;
    height: 85%;
    border-radius: 50%;
    overflow: hidden;
    transition: all 2s ease-in-out;
}

.cat{
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(103, 103, 103);
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
}


.service:hover .media{
    transform:rotate(360DEG);
}

.desc{
    width: 70%;
    text-align: center;
    position: absolute;
    z-index: 999;
    background: rgb(253, 217, 222);
    color: rgb(103, 103, 103);
    margin-top: 420px;
    border-radius: 10px;
    padding: 20px;
    transition: all 1s ease;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    opacity: 0;
}

.service:hover .desc{
    opacity: 1;
}